*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/bgc3.jpg");
}

.img-pocket{
    width: 600px;
    height: 400px;
}
.lesson-body{
    width: 600px;
    height: 100px;
}
.lesson-body{
    text-shadow:1px 1px bisque;
    text-align: center;  
}
.lesson-link{
    text-decoration: none;
    color: rgb(37, 35, 36);
    font-size: 20px;
    font-weight: bolder;
    
}
.lesson-title{
    text-decoration: none;
    color: rgb(37, 35, 36);
    font-size: 35px;
    font-weight: bolder;
    margin-top: 80px;
}

img{
    width: 600px;
    height: 400px;
}

.btn{
    cursor: pointer;
}

.photo {
    position: absolute;
    transform: scale(1);
    transition: transform 1s;
  }
  
  .photo:hover {
    transform: scale(1.3);
  }


  .container{
     margin-top: 57px;
  }

  .lesson-footer{
      display: flex;
      justify-content: space-between;
    
  }

  .btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  