body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-pocket{
    border: 2px solid black;
    width: 600px;
    height: 400px;
}
.lesson-body{
    border: 1px solid black;
    width: 600px;
    height: 100px;
}

img{
    width: 600px;
    height: 400px;
}

.btn{
    cursor: pointer;
}

.photo {
    position: absolute;
    transform: scale(1);
    transition: transform 1s;
  }
  
  .photo:hover {
    transform: scale(1.3);
  }


  .container{
     margin-top: 50px;
  }